nodered-flow-influxdb.json
[
    {
        "id": "tcpgeo_tab",
        "type": "tab",
        "label": "TCPGeo → InfluxDB",
        "disabled": false,
        "info": "Empfängt TCPGeo MQTT-Daten und speichert sie in InfluxDB 1.6.\n\nMessungen:\n- tcpgeo_outgoing: Pro Client + Land (Verbindungen, Bytes)\n- tcpgeo_incoming: Pro Port + Land (Verbindungsversuche)\n- tcpgeo_client_detail: Pro Client detailliert (Land, Stadt, Port, Bytes)\n- tcpgeo_connection: Einzelne Verbindungsereignisse"
    },
    {
        "id": "tcpgeo_influx_config",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "tcpgeo",
        "name": "InfluxDB tcpgeo",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://127.0.0.1:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "tcpgeo_mqtt_config",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "nodered-tcpgeo",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },

    {
        "id": "tcpgeo_comment_header",
        "type": "comment",
        "z": "tcpgeo_tab",
        "name": "🌍 TCPGeo → InfluxDB 1.6",
        "info": "Konfiguration:\n1. MQTT-Broker IP/Port anpassen (Doppelklick auf MQTT-Nodes)\n2. InfluxDB IP/Port/Datenbank anpassen (Doppelklick auf InfluxDB-Nodes)\n3. Datenbank 'tcpgeo' in InfluxDB anlegen:\n   influx -execute 'CREATE DATABASE tcpgeo'\n\nMQTT-Topics:\n- tcpgeo/stats/outgoing → tcpgeo_outgoing\n- tcpgeo/stats/incoming → tcpgeo_incoming\n- tcpgeo/clients/outgoing → tcpgeo_client_detail\n- tcpgeo/connections → tcpgeo_connection",
        "x": 200,
        "y": 40,
        "wires": []
    },

    {
        "id": "mqtt_stats_outgoing",
        "type": "mqtt in",
        "z": "tcpgeo_tab",
        "name": "tcpgeo/stats/outgoing",
        "topic": "tcpgeo/stats/outgoing",
        "qos": "0",
        "datatype": "json",
        "broker": "tcpgeo_mqtt_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 140,
        "wires": [["func_stats_outgoing"]]
    },
    {
        "id": "func_stats_outgoing",
        "type": "function",
        "z": "tcpgeo_tab",
        "name": "→ tcpgeo_outgoing",
        "func": "// Outgoing stats: pro Client + Land → InfluxDB Punkte\nvar data = msg.payload;\nif (!data || !data.clients) return null;\n\nvar points = [];\nvar clients = data.clients;\n\nfor (var clientIP in clients) {\n    var cl = clients[clientIP];\n    var countries = cl.countries || {};\n    \n    // Einen Punkt pro Client+Land Kombination\n    for (var country in countries) {\n        points.push({\n            measurement: 'tcpgeo_outgoing',\n            tags: {\n                client: clientIP,\n                country: country\n            },\n            fields: {\n                connections: countries[country],\n                total_bytes: cl.bytes || 0\n            }\n        });\n    }\n    \n    // Aggregierten Punkt pro Client (Gesamt)\n    points.push({\n        measurement: 'tcpgeo_outgoing_total',\n        tags: {\n            client: clientIP\n        },\n        fields: {\n            connections: cl.total || 0,\n            bytes: cl.bytes || 0,\n            countries_count: Object.keys(countries).length\n        }\n    });\n}\n\nif (points.length === 0) return null;\nmsg.payload = points;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 140,
        "wires": [["influx_batch_outgoing", "debug_outgoing"]]
    },
    {
        "id": "influx_batch_outgoing",
        "type": "influxdb batch",
        "z": "tcpgeo_tab",
        "influxdb": "tcpgeo_influx_config",
        "precision": "s",
        "retpol": "",
        "name": "InfluxDB: outgoing",
        "database": "tcpgeo",
        "precisionV18FluxV20": "s",
        "retentionPolicy": "",
        "org": "",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "debug_outgoing",
        "type": "debug",
        "z": "tcpgeo_tab",
        "name": "dbg outgoing",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.length",
        "statusType": "msg",
        "x": 650,
        "y": 160,
        "wires": []
    },

    {
        "id": "mqtt_stats_incoming",
        "type": "mqtt in",
        "z": "tcpgeo_tab",
        "name": "tcpgeo/stats/incoming",
        "topic": "tcpgeo/stats/incoming",
        "qos": "0",
        "datatype": "json",
        "broker": "tcpgeo_mqtt_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 260,
        "wires": [["func_stats_incoming"]]
    },
    {
        "id": "func_stats_incoming",
        "type": "function",
        "z": "tcpgeo_tab",
        "name": "→ tcpgeo_incoming",
        "func": "// Incoming stats: pro Port + Land → InfluxDB Punkte\nvar data = msg.payload;\nif (!data || !data.ports) return null;\n\nvar points = [];\nvar ports = data.ports;\n\nfor (var portNum in ports) {\n    var p = ports[portNum];\n    var countries = p.countries || {};\n    var lbl = (p.label && p.label.length > 0) ? p.label : 'Port_' + portNum;\n    \n    // Einen Punkt pro Port+Land Kombination\n    for (var country in countries) {\n        if (!country || country.length === 0) continue;\n        points.push({\n            measurement: 'tcpgeo_incoming',\n            tags: {\n                port: portNum,\n                label: lbl,\n                country: country\n            },\n            fields: {\n                connections: countries[country]\n            }\n        });\n    }\n    \n    // Aggregiert pro Port\n    points.push({\n        measurement: 'tcpgeo_incoming_total',\n        tags: {\n            port: portNum,\n            label: lbl\n        },\n        fields: {\n            connections: p.total || 0,\n            countries_count: Object.keys(countries).length\n        }\n    });\n}\n\nif (points.length === 0) return null;\nmsg.payload = points;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 260,
        "wires": [["influx_batch_incoming", "debug_incoming"]]
    },
    {
        "id": "influx_batch_incoming",
        "type": "influxdb batch",
        "z": "tcpgeo_tab",
        "influxdb": "tcpgeo_influx_config",
        "precision": "s",
        "retpol": "",
        "name": "InfluxDB: incoming",
        "database": "tcpgeo",
        "precisionV18FluxV20": "s",
        "retentionPolicy": "",
        "org": "",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "debug_incoming",
        "type": "debug",
        "z": "tcpgeo_tab",
        "name": "dbg incoming",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.length",
        "statusType": "msg",
        "x": 650,
        "y": 280,
        "wires": []
    },

    {
        "id": "mqtt_clients_outgoing",
        "type": "mqtt in",
        "z": "tcpgeo_tab",
        "name": "tcpgeo/clients/outgoing",
        "topic": "tcpgeo/clients/outgoing",
        "qos": "0",
        "datatype": "json",
        "broker": "tcpgeo_mqtt_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 380,
        "wires": [["func_clients_outgoing"]]
    },
    {
        "id": "func_clients_outgoing",
        "type": "function",
        "z": "tcpgeo_tab",
        "name": "→ tcpgeo_client_detail",
        "func": "// Client Detail: pro Client + Ziel (Land/Stadt/Port) → InfluxDB\nvar data = msg.payload;\nif (!data || !data.clients) return null;\n\nvar points = [];\nvar clients = data.clients;\n\nfor (var clientIP in clients) {\n    var entries = clients[clientIP];\n    if (!Array.isArray(entries)) continue;\n    \n    for (var i = 0; i < entries.length; i++) {\n        var e = entries[i];\n        var tags = {\n            client: clientIP,\n            country: e.country || 'unknown',\n            port: String(e.port || 0)\n        };\n        if (e.city && e.city.length > 0) tags.city = e.city;\n        if (e.label && e.label.length > 0) tags.label = e.label;\n        else tags.label = 'Port_' + (e.port || 0);\n        points.push({\n            measurement: 'tcpgeo_client_detail',\n            tags: tags,\n            fields: {\n                count: e.count || 0,\n                bytes: e.bytes || 0\n            }\n        });\n    }\n}\n\nif (points.length === 0) return null;\nmsg.payload = points;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 380,
        "wires": [["influx_batch_clients", "debug_clients"]]
    },
    {
        "id": "influx_batch_clients",
        "type": "influxdb batch",
        "z": "tcpgeo_tab",
        "influxdb": "tcpgeo_influx_config",
        "precision": "s",
        "retpol": "",
        "name": "InfluxDB: client detail",
        "database": "tcpgeo",
        "precisionV18FluxV20": "s",
        "retentionPolicy": "",
        "org": "",
        "x": 680,
        "y": 360,
        "wires": []
    },
    {
        "id": "debug_clients",
        "type": "debug",
        "z": "tcpgeo_tab",
        "name": "dbg clients",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.length",
        "statusType": "msg",
        "x": 650,
        "y": 400,
        "wires": []
    },

    {
        "id": "mqtt_connections",
        "type": "mqtt in",
        "z": "tcpgeo_tab",
        "name": "tcpgeo/connections",
        "topic": "tcpgeo/connections",
        "qos": "0",
        "datatype": "json",
        "broker": "tcpgeo_mqtt_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 500,
        "wires": [["func_connections"]]
    },
    {
        "id": "func_connections",
        "type": "function",
        "z": "tcpgeo_tab",
        "name": "→ tcpgeo_connection",
        "func": "// Recent connections: jede Verbindung als eigenen Punkt\nvar data = msg.payload;\nif (!data || !data.connections) return null;\n\nvar conns = data.connections;\nvar points = [];\n\nfor (var i = 0; i < conns.length; i++) {\n    var c = conns[i];\n    var tags = {\n        direction: c.dir || 'unknown',\n        client: c.client || 'unknown',\n        country: c.country || 'unknown',\n        port: String(c.port || 0)\n    };\n    if (c.city && c.city.length > 0) tags.city = c.city;\n    if (c.label && c.label.length > 0) tags.label = c.label;\n    else tags.label = 'Port_' + (c.port || 0);\n    points.push({\n        measurement: 'tcpgeo_connection',\n        tags: tags,\n        fields: {\n            bytes: c.bytes || 0,\n            event: 1\n        }\n    });\n}\n\nif (points.length === 0) return null;\n\n// Status-Punkt: Gesamtanzahl Verbindungen im Snapshot\npoints.push({\n    measurement: 'tcpgeo_status',\n    tags: {},\n    fields: {\n        active_connections: data.count || 0\n    }\n});\n\nmsg.payload = points;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 500,
        "wires": [["influx_batch_connections", "debug_connections"]]
    },
    {
        "id": "influx_batch_connections",
        "type": "influxdb batch",
        "z": "tcpgeo_tab",
        "influxdb": "tcpgeo_influx_config",
        "precision": "s",
        "retpol": "",
        "name": "InfluxDB: connections",
        "database": "tcpgeo",
        "precisionV18FluxV20": "s",
        "retentionPolicy": "",
        "org": "",
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "debug_connections",
        "type": "debug",
        "z": "tcpgeo_tab",
        "name": "dbg connections",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.length",
        "statusType": "msg",
        "x": 660,
        "y": 520,
        "wires": []
    },

    {
        "id": "tcpgeo_comment_schema",
        "type": "comment",
        "z": "tcpgeo_tab",
        "name": "📊 InfluxDB Schema & Grafana Queries",
        "info": "## InfluxDB Messungen\n\n### tcpgeo_outgoing\nTags: client, country\nFields: connections (int), total_bytes (int)\n→ \"Client X hat N Verbindungen nach Land Y\"\n\n### tcpgeo_outgoing_total\nTags: client\nFields: connections (int), bytes (int), countries_count (int)\n→ \"Client X gesamt: N Verbindungen, X Bytes, Y Länder\"\n\n### tcpgeo_incoming\nTags: port, label, country\nFields: connections (int)\n→ \"Port 22 (SSH): N Versuche aus Land Y\"\n\n### tcpgeo_incoming_total\nTags: port, label\nFields: connections (int), countries_count (int)\n→ \"Port 22 gesamt: N Versuche aus Y Ländern\"\n\n### tcpgeo_client_detail\nTags: client, country, city, port, label\nFields: count (int), bytes (int)\n→ \"Client X → Ashburn/US:443 (HTTPS): 12×, 52KB\"\n\n### tcpgeo_connection\nTags: direction, client, country, city, port, label\nFields: bytes (int), event (1)\n→ Einzelne Verbindungsereignisse\n\n### tcpgeo_status\nFields: active_connections (int)\n→ Aktive Verbindungen im Zeitverlauf\n\n## Beispiel Grafana Queries\n\n### Top 10 Zielländer (ausgehend)\nSELECT sum(\"connections\") FROM \"tcpgeo_outgoing\"\nWHERE $timeFilter\nGROUP BY \"country\", time($__interval)\nORDER BY sum DESC LIMIT 10\n\n### Eingehende SSH-Versuche nach Land\nSELECT sum(\"connections\") FROM \"tcpgeo_incoming\"\nWHERE \"port\" = '22' AND $timeFilter\nGROUP BY \"country\", time($__interval)\n\n### Traffic pro Client (Bytes)\nSELECT last(\"bytes\") FROM \"tcpgeo_outgoing_total\"\nWHERE $timeFilter\nGROUP BY \"client\", time($__interval)\n\n### Verbindungen pro Minute\nSELECT count(\"event\") FROM \"tcpgeo_connection\"\nWHERE $timeFilter\nGROUP BY time(1m)\n\n### Top Clients nach Verbindungsanzahl\nSELECT last(\"connections\") FROM \"tcpgeo_outgoing_total\"\nWHERE $timeFilter\nGROUP BY \"client\"\nORDER BY last DESC LIMIT 10\n\n### Client Detail: Wohin geht .50?\nSELECT last(\"count\"), last(\"bytes\") FROM \"tcpgeo_client_detail\"\nWHERE \"client\" = '192.168.1.xxx' AND $timeFilter\nGROUP BY \"country\", \"city\", \"label\"",
        "x": 220,
        "y": 600,
        "wires": []
    }
]
